
*{
    font-family:Arial;
    box-sizing: border-box;
    font-size: large;
    
}
ul{
    list-style: none;
}
.header{
    width: 100%;
    position:fixed;
    padding-top: .5em;
    margin-bottom: 200px;
    display: flex;
    background-color: rgb(196, 182, 182);
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}
body{
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

section{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.nav a{
    text-decoration: none;
    color: black;
    text-align: end;
}
.textbox {
margin: 5px 20px 5px 20px;
width: 50%;
}

.nav a:hover{
    background-color: rgb(201, 210, 210);
    border-radius: 5px;
}
#blue{
    color: rgb(45, 206, 242);
}
form{
    padding: 20px;
    border-radius: 20px;
    background-color:  rgb(220, 203, 203);
    margin: auto;
    
}
.button{
    background-color: rgb(7, 85, 137);
    margin: 10px ;
    padding:0px 3px;
    color: whitesmoke;
}
h3{
    margin: 10px;
}
@media(max-width: 800px) {
    section{
        width: 50%;
    }
}